{% load static %}
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>sarvesh</title>

  <!--
    - favicon"{% static 'assets/images/logo.ico' %}"
  -->
  <link rel="shortcut icon" href="{% static 'assets/images/logo.png' %}" type="image/x-icon" />

  <!--
    - custom css link
  -->
  <link rel="stylesheet" href="{% static 'assets/css/style.css' %}" />

  <!--
    - google font link
  -->
  <link rel="preconnect" href="https://fonts.googleapis.com" />
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
  <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap" rel="stylesheet" />
</head>

<body>
  <!--
    - #MAIN
  -->

  <main>
    <!--
      - #SIDEBAR
    -->

    <aside class="sidebar" data-sidebar>
      <div class="sidebar-info">
        <figure class="avatar-box">
          <img src="{% static 'assets/images/sarvesh.png' %}" alt="Sarvesh Salam" width="80" />
        </figure>

        <div class="info-content">
          <h1 class="name" title="Richard Hanrick">Sarvesh Salam</h1>
          <p class="title typewriter">
            <span
              data-text="Web Developer., Innovative Web Guru., Tech Solutions Expert., Coding Wizardry Pro., Problem-Solving Prodigy."></span>
          </p>
        </div>


        <button class="info_more-btn" data-sidebar-btn>
          <span>Show Contacts</span>

          <ion-icon name="chevron-down"></ion-icon>
        </button>
      </div>

      <div class="sidebar-info_more">
        <div class="separator"></div>

        <ul class="contacts-list">
          <li class="contact-item">
            <div class="icon-box">
              <ion-icon name="mail-outline"></ion-icon>
            </div>

            <div class="contact-info">
              <p class="contact-title">Email</p>

              <a href="mailto:salam.sarvesh@gmail.com" class="contact-link">salam.sarvesh@gmail.com</a>
            </div>
          </li>

          <li class="contact-item">
            <div class="icon-box">
              <ion-icon name="phone-portrait-outline"></ion-icon>
            </div>

            <div class="contact-info">
              <p class="contact-title">Phone</p>

              <a href="tel:+917977941325" class="contact-link">7977941325</a>
            </div>
          </li>

          <li class="contact-item">
            <div class="icon-box">
              <ion-icon name="calendar-outline"></ion-icon>
            </div>

            <div class="contact-info">
              <p class="contact-title">Birthday</p>

              <time datetime="1999-08-09">Sep 08, 1999</time>
            </div>
          </li>

          <li class="contact-item">
            <div class="icon-box">
              <ion-icon name="location-outline"></ion-icon>
            </div>

            <div class="contact-info">
              <p class="contact-title">Location</p>

              <address>Mumbai india</address>
            </div>
          </li>
        </ul>

        <div class="separator"></div>

        <ul class="social-list">
          <li class="social-item">
            <a href="https://www.instagram.com/sarveshsalam/" class="social-link">
              <ion-icon name="logo-instagram"></ion-icon>
            </a>
          </li>

          <li class="social-item">
            <a href="https://github.com/sarvesh0809" class="social-link">
              <ion-icon name="logo-github"></ion-icon>
            </a>
          </li>
          <li class="social-item">
            <a href="https://stackoverflow.com/users/15605097/sarvesh-salam" class="social-link">
              <ion-icon name="logo-stackoverflow"></ion-icon>
            </a>
          </li>
          <li class="social-item">
            <a href="https://wa.me/+917977941325?text=Hi%20Sarvesh" class="social-link">
              <ion-icon name="logo-whatsapp"></ion-icon>
            </a>
          </li>
          <li class="social-item">
            <a href="https://www.linkedin.com/in/sarvesh-salam-013a55206/" class="social-link">
              <ion-icon name="logo-linkedin"></ion-icon>
            </a>
          </li>
        </ul>
      </div>
    </aside>

    <!--
      - #main-content
    -->

    <div class="main-content">
      <!--
        - #NAVBAR
      -->

      <nav class="navbar">
        <ul class="navbar-list">
          <li class="navbar-item">
            <button class="navbar-link active" data-nav-link>About</button>
          </li>

          <li class="navbar-item">
            <button class="navbar-link" data-nav-link>Resume</button>
          </li>

          <li class="navbar-item">
            <button class="navbar-link" data-nav-link>Portfolio</button>
          </li>

        </ul>
      </nav>

      <!--
        - #ABOUT
      -->

      <article class="about active" data-page="about">
        <header>
          <h2 class="h2 article-title">About me</h2>
        </header>

        <section class="about-text">
          <p>
            Introducing the Web App Wizard: Crafting Captivating and Innovative Web Applications.
          </p>

          <p>
            Look no further if you seek a mastermind behind captivating and innovative web applications. Meet the
            talented web app wizard – yours truly. With a Bachelor's degree in Computer Science from Mumbai University,
            earned in 2021, I have emerged as a rising star in the realm of web development.
            <br>Driven by an unquenchable thirst for knowledge and an unwavering passion for technology, I ventured into
            the world of computer science with a burning desire to make a difference.
          </p>
        </section>

        <!--
          - service
        -->

        <section class="service">
          <h3 class="h3 service-title">What I'm Doing</h3>

          <ul class="service-list">
            <li class="service-item">
              <div class="service-icon-box">
                <img src="{% static 'assets/images/icon-dev.svg' %}" alt="Web development icon" width="40" />
              </div>

              <div class="service-content-box">
                <h4 class="h4 service-item-title">Web Development</h4>

                <p class="service-item-text">
                  As a passionate web developer, I specialize in high-quality website development with a strong focus on
                  user experience and functionality. From front-end to back-end, I craft seamless and efficient web
                  solutions.
                </p>
              </div>
            </li>

            <li class="service-item">
              <div class="service-icon-box">
                <img src="{% static 'assets/images/icon-app.svg'  %}" alt="PWA icon" width="40" />
              </div>

              <div class="service-content-box">
                <h4 class="h4 service-item-title">Progressive Web Apps (PWA)</h4>

                <p class="service-item-text">
                  Additionally, I have expertise in creating Progressive Web Apps (PWA) that provide an immersive and
                  app-like experience to users while being highly performant and responsive across various devices.
                </p>
              </div>
            </li>

            <li class="service-item">
              <div class="service-icon-box">
                <img src="{% static 'assets/images/icon-sql.svg' %}" alt="Database icon" width="40" />
              </div>

              <div class="service-content-box">
                <h4 class="h4 service-item-title">MySQL & Store Procedures</h4>

                <p class="service-item-text">
                  In addition to my web development skills, I possess advanced knowledge of MySQL, including expertise
                  in writing efficient SQL queries and store procedures for robust and scalable databases.
                </p>
              </div>
            </li>

            <li class="service-item">
              <div class="service-icon-box">
                <img src="{% static 'assets/images/icon-python.svg' %}" alt="Python icon" width="40" />
              </div>

              <div class="service-content-box">
                <h4 class="h4 service-item-title">Python Automation</h4>

                <p class="service-item-text">
                  Moreover, I have a strong command of Python programming, enabling me to create automation scripts for
                  various tasks, streamlining processes, and optimizing workflows.
                </p>
              </div>
            </li>
          </ul>
        </section>

        <!--
          - testimonials
        -->

        <section class="testimonials">
          <h3 class="h3 testimonials-title">Testimonials</h3>

          <ul class="testimonials-list has-scrollbar">
            <li class="testimonials-item">
              <div class="content-card" data-testimonials-item>
                <figure class="testimonials-avatar-box">
                  <img src="{% static 'assets/images/avatar-1.png' %}" alt="Saurin Jariwala" width="60"
                    data-testimonials-avatar />
                </figure>

                <h4 class="h4 testimonials-item-title" data-testimonials-title>
                  Saurin Jariwala
                </h4>

                <time datetime="2021-06-01" data-testimonials-time style="display: none;">Forms9 (Managing
                  Director)<span style="float: right;font-size: small;font-style: italic;">01 June, 2021</span></time>

                <div class="testimonials-text" data-testimonials-text>
                  <p>
                    I had the pleasure of working with Sarvesh on multiple projects at forms9, and I must say that his
                    expertise in web development is truly commendable. He spearheaded the creation of various web
                    applications, including inventory management, billing software, and a seamless point-of-sale system.
                    Sarvesh's professionalism and attention to detail are evident in every aspect of his work. He
                    consistently demonstrated a deep understanding of our requirements and worked diligently to ensure
                    that the end products were not only functional but also visually appealing.
                    Throughout the collaboration, Sarvesh exhibited remarkable problem-solving skills, addressing any
                    challenges that arose with ease. His ability to communicate effectively and adapt to changing
                    project needs made the entire development process smooth and efficient.
                    I highly recommend Sarvesh for anyone seeking top-notch web development services. He is a talented
                    and reliable developer who goes above and beyond to deliver exceptional results.
                  </p>
                </div>
              </div>
            </li>

            <li class="testimonials-item">
              <div class="content-card" data-testimonials-item>
                <figure class="testimonials-avatar-box">

                  <img src="{% static 'assets/images/ajay.png' %}" alt="Ajay Garg" width="60"
                    data-testimonials-avatar />
                </figure>

                <h4 class="h4 testimonials-item-title" data-testimonials-title>
                  Ajay Garg
                </h4>
                <time datetime="2023-03-03" data-testimonials-time style="display: none;">Accenture (Team Lead)<span
                    style="float: right;font-size: small;font-style: italic;">03 March, 2023</span></time>

                <div class="testimonials-text" data-testimonials-text>
                  <p>
                    Sarvesh has been an invaluable asset to our team since he joined Accenture. His dedication and
                    passion for web development are truly commendable. From the moment he started working on the Rio
                    Tinto project, it was evident that he possesses a rare combination of technical expertise and
                    creativity.
                    Sarvesh's ability to handle complex challenges and deliver top-notch solutions is impressive. He
                    consistently meets and exceeds our expectations, ensuring that the projects are completed on time
                    and with the highest level of quality. His attention to detail and strong problem-solving skills
                    have been instrumental in the success of various web applications he has worked on.
                    Not only is Sarvesh an exceptional developer, but he is also a great team player. He collaborates
                    effectively with his peers, sharing his knowledge and ideas to enhance the overall team performance.
                    His positive attitude and willingness to help others have created a supportive and encouraging work
                    environment.
                    It is a pleasure to have Sarvesh as a part of our team, and we look forward to witnessing his
                    continued growth and success in his career.
                  </p>
                </div>
              </div>
            </li>

            <li class="testimonials-item">
              <div class="content-card" data-testimonials-item>
                <figure class="testimonials-avatar-box">
                  <img src="{% static 'assets/images/shalabh.png' %}" alt="Shalabh Saxena" width="60"
                    data-testimonials-avatar />
                </figure>

                <h4 class="h4 testimonials-item-title" data-testimonials-title>
                  Shalabh Saxena
                </h4>
                <time datetime="2023-05-12" data-testimonials-time style="display: none;">Accenture (Manager)<span
                    style="float: right;font-size: small;font-style: italic;">12 May, 2023</span></time>

                <div class="testimonials-text" data-testimonials-text>
                  <p>
                    Sarvesh consistently exhibits a strong work ethic and a deep commitment to delivering the best
                    possible results. His ability to grasp complex requirements and turn them into practical solutions
                    is truly impressive. Additionally, he has a keen eye for detail and ensures that every aspect of the
                    applications meets the highest standards of quality.
                    Under Sarvesh's leadership, the team has achieved significant milestones and received numerous
                    accolades from our clients. His dedication to excellence and passion for staying updated with the
                    latest technologies sets him apart as a reliable and forward-thinking developer
                  </p>
                </div>
              </div>
            </li>

          </ul>
        </section>

        <!--
          - testimonials modal
        -->

        <div class="modal-container" data-modal-container>
          <div class="overlay" data-overlay></div>

          <section class="testimonials-modal">
            <button class="modal-close-btn" data-modal-close-btn>
              <ion-icon name="close-outline"></ion-icon>
            </button>

            <div class="modal-img-wrapper">
              <figure class="modal-avatar-box">
                <img src="{% static 'assets/images/avatar-1.png' %}" alt="Ajay Garg" width="80" data-modal-img />
              </figure>

              <img src="{% static 'assets/images/icon-quote.svg' %}" alt="quote icon" />
            </div>

            <div class="modal-content">
              <h4 class="h3 modal-title" data-modal-title>Ajay Garg</h4>

              <time datetime="2021-06-14" data-modal-time>03 March, 2023</time>

              <div data-modal-text>
                <p>
                  Sarvesh has been an invaluable asset to our team since he joined Accenture. His dedication and passion
                  for web development are truly commendable. From the moment he started working on the Rio Tinto
                  project, it was evident that he possesses a rare combination of technical expertise and creativity.
                  Sarvesh's ability to handle complex challenges and deliver top-notch solutions is impressive. He
                  consistently meets and exceeds our expectations, ensuring that the projects are completed on time and
                  with the highest level of quality. His attention to detail and strong problem-solving skills have been
                  instrumental in the success of various web applications he has worked on.
                  Not only is Sarvesh an exceptional developer, but he is also a great team player. He collaborates
                  effectively with his peers, sharing his knowledge and ideas to enhance the overall team performance.
                  His positive attitude and willingness to help others have created a supportive and encouraging work
                  environment.
                  It is a pleasure to have Sarvesh as a part of our team, and we look forward to witnessing his
                  continued growth and success in his career.
                </p>
              </div>
            </div>
          </section>
        </div>

        <!--
          - clients
        -->


      </article>

      <!--
        - #RESUME
      -->

      <article class="resume" data-page="resume">
        <header>
          <h2 class="h2 article-title">Resume</h2>
          <button type="button" class="icon-box" style="float: right;">
            <ion-icon name="download-outline" id="download-icon"></ion-icon>
          </button>
        </header>


        <section class="timeline">
          <div class="title-wrapper">
            <div class="icon-box">
              <ion-icon name="book-outline"></ion-icon>
            </div>

            <h3 class="h3">Education</h3>
          </div>

          <ol class="timeline-list">
            <li class="timeline-item">
              <h4 class="h4 timeline-item-title">
                ST. John college of engineering and management
              </h4>

              <span>2017 - 2021</span>

              <p class="timeline-text">
                B.Tech in CS - <b>7.1 CGPA</b>
              </p>
            </li>

            <li class="timeline-item">
              <h4 class="h4 timeline-item-title">
                SVP Junior College of Commerce and Science
              </h4>

              <span>2015 - 2017</span>

              <p class="timeline-text">
                Higher Secondary School Certificate (HSC) - <b>65%</b>
              </p>
            </li>

            <li class="timeline-item">
              <h4 class="h4 timeline-item-title">ST. Francis High School</h4>

              <span>2014 - 2015</span>

              <p class="timeline-text">
                Secondary School Certificate (SSC) - <b>85%</b>
              </p>
            </li>
          </ol>
        </section>

        <section class="timeline">
          <div class="title-wrapper">
            <div class="icon-box">
              <ion-icon name="desktop-outline"></ion-icon>
            </div>

            <h3 class="h3">Experience</h3>
          </div>

          <ol class="timeline-list">
            <li class="timeline-item">
              <h4 class="h4 timeline-item-title">Custom Software Engineering Associate</h4>
              <span style="font-weight: bold;">Accenture Sol. Pvt Ltd<span style="float: right;font-style: italic;">2022
                  — Present</span></span>
              <p class="timeline-text" style="font-family: Verdana, Geneva, Tahoma, sans-serif;">
                As a Custom Software Engineering Associate at Accenture Solutions, I am actively involved in enhancing
                ASP.NET applications and leveraging my expertise in SQL and stored procedures to deliver efficient
                solutions for the Rio Tinto project.
              </p>
            </li>

            <li class="timeline-item">
              <h4 class="h4 timeline-item-title">Freelancing</h4>
              <span style="font-weight: bold;">Word-of-Mouth Referrals<span
                  style="float: right;font-style: italic;">2020 — Present</span></span>
              <p class="timeline-text" style="font-family: Verdana, Geneva, Tahoma, sans-serif;">
                As a freelancer, I specialize in crafting responsive web applications, Progressive Web Apps (PWAs), and
                automation scripts for clients using Django. My focus on delivering high-quality solutions has enabled
                me to excel in creating tailored web experiences that meet the unique needs of each client
              </p>
            </li>

            <li class="timeline-item">
              <h4 class="h4 timeline-item-title">Software/Web Developer</h4>
              <span style="font-weight: bold;">Forms9 Pvt Ltd <span style="float: right;font-style: italic;">2021 —
                  2022</span></span>
              <p class="timeline-text" style="font-family: Verdana, Geneva, Tahoma, sans-serif;">
                During my tenure at Forms9 Pvt Ltd, I spearheaded the development of various web applications, including
                Inventory Management, Billing, POS, and Stock Live Tracking, while also honing my web design skills to
                create appealing and responsive websites.
              </p>
            </li>

            <li class="timeline-item">
              <h4 class="h4 timeline-item-title">Adjunct Educator</h4>
              <span style="font-weight: bold;">A.K.S Academy <span style="float: right;font-style: italic;">2017 —
                  2020</span></span>
              <p class="timeline-text" style="font-family: Verdana, Geneva, Tahoma, sans-serif;">
                During my tenure as an adjunct educator at A.K.S Academy, I had the privilege of teaching mathematics
                and science to students, imparting knowledge and fostering a passion for learning.
              </p>
            </li>

          </ol>
        </section>

        <section class="skill">
          <h3 class="h3 skills-title">My skills</h3>

          <ul class="skills-list content-card">
            <li class="skills-item">
              <div class="title-wrapper">
                <h5 class="h5">Python</h5>
              </div>
              <div class="skill-progress-bg">
                <div class="skill-progress-fill" style="width: 90%"></div>
              </div>
            </li>

            <li class="skills-item">
              <div class="title-wrapper">
                <h5 class="h5">Django</h5>
              </div>
              <div class="skill-progress-bg">
                <div class="skill-progress-fill" style="width: 95%"></div>
              </div>
            </li>

            <li class="skills-item">
              <div class="title-wrapper">
                <h5 class="h5">JS</h5>
              </div>
              <div class="skill-progress-bg">
                <div class="skill-progress-fill" style="width: 65%"></div>
              </div>
            </li>

            <li class="skills-item">
              <div class="title-wrapper">
                <h5 class="h5">Ajax</h5>
              </div>
              <div class="skill-progress-bg">
                <div class="skill-progress-fill" style="width: 60%"></div>
              </div>
            </li>

            <li class="skills-item">
              <div class="title-wrapper">
                <h5 class="h5">HTML/CSS</h5>
              </div>
              <div class="skill-progress-bg">
                <div class="skill-progress-fill" style="width: 90%"></div>
              </div>
            </li>

            <li class="skills-item">
              <div class="title-wrapper">
                <h5 class="h5">SQL</h5>
              </div>
              <div class="skill-progress-bg">
                <div class="skill-progress-fill" style="width: 100%"></div>
              </div>
            </li>

            <li class="skills-item">
              <div class="title-wrapper">
                <h5 class="h5">Store Procedure</h5>
              </div>
              <div class="skill-progress-bg">
                <div class="skill-progress-fill" style="width: 80%"></div>
              </div>
            </li>

            <li class="skills-item">
              <div class="title-wrapper">
                <h5 class="h5">ASP.NET</h5>
              </div>
              <div class="skill-progress-bg">
                <div class="skill-progress-fill" style="width: 40%"></div>
              </div>
            </li>
          </ul>
        </section>
      </article>

      <!--
        - #PORTFOLIO
      -->

      <article class="portfolio" data-page="portfolio">
        <header>
          <h2 class="h2 article-title">Portfolio</h2>
        </header>

        <section class="projects">
          <!-- <ul class="filter-list">
            <li class="filter-item">
              <button class="active" data-filter-btn>All</button>
            </li>

            <li class="filter-item">
              <button data-filter-btn>Forms9</button>
            </li>

            <li class="filter-item">
              <button data-filter-btn>Freelancing</button>
            </li>

            <li class="filter-item">
              <button data-filter-btn>Accenture</button>
            </li>
          </ul> -->

          <div class="filter-select-box">
            <button class="filter-select" data-select style="display: none;">
              <!-- <div class="select-value" data-select-value>
                Select category
              </div>

              <div class="select-icon">
                <ion-icon name="chevron-down"></ion-icon>
              </div> -->
            </button>

            <ul class="select-list">
              <li class="select-item">
                <button data-select-item>All</button>
              </li>

              <li class="select-item">
                <button data-select-item>Forms9</button>
              </li>

              <li class="select-item">
                <button data-select-item>Freelancing</button>
              </li>

              <li class="select-item">
                <button data-select-item>Accenture</button>
              </li>
            </ul>
          </div>

          <ul class="project-list">
            <li class="project-item active" data-filter-item data-category="Forms9" data-portfolio-item>
              <a href="#">
                <figure class="project-img">
                  <div class="project-item-icon-box">
                    <ion-icon name="eye-outline"></ion-icon>
                  </div>
                  <img src="{% static 'assets/images/portfolio/Inventory1.png' %}" alt="inventorymanagement"
                    loading="lazy" data-portfolio-image-1 />
                  <img src="{% static 'assets/images/portfolio/Inventory2.png' %}" alt="inventorymanagement"
                    loading="lazy" data-portfolio-image-2 style="display: none;" />
                  <img src="{% static 'assets/images/portfolio/Inventory3.png' %}" alt="inventorymanagement"
                    loading="lazy" data-portfolio-image-3 style="display: none;" />
                </figure>
                <h3 class="project-title" data-portfolio-title>Inventory Management</h3><br><br>
                <p class="project-category" data-portfolio-text style="display: none;">
                  As a skilled and innovative web developer, I successfully designed and developed an advanced Inventory
                  Management System for the esteemed company, <b
                    style="color: var(--orange-yellow-crayola);">Forms9</b>. Leveraging cutting-edge technologies such
                  as <b style="color: var(--orange-yellow-crayola);">Python, Django, HTML/CSS, JavaScript, AJAX, and
                    REST API,</b> I created a feature-rich application that has transformed the way product data is
                  managed.
                  <br><br>
                  <b style="color: var(--orange-yellow-crayola);">Seamless Product Data Management:</b>
                  <br>&#8226; User-friendly Multi-Inline Form: Effortlessly enter and store product data with the
                  convenience of selecting cipher values based on price and adding product categories and sub-categories
                  for efficient inventory organization.
                  <br>&#8226; Customizable Prints: Generate product labels, inwarded quantity reports, and packing
                  records with ease for streamlined operations and error-free transactions.
                  <br>&#8226; Dispatch Feature: Monitor multiple packings sent outside the company for effective
                  inventory control and accurate tracking.
                  <br>&#8226; Comprehensive Capabilities: From editing and deleting inward records to managing
                  suppliers, the application empowers users to handle various inventory tasks effortlessly.
                  <br>&#8226; Robust Reporting: Gain valuable data analysis and performance evaluations, enabling
                  informed decisions and optimized inventory management strategies.
                  <br><br>
                  This achievement showcases my expertise in web development and my commitment to creating
                  sophisticated, user-centric solutions. I take great pride in this project and look forward to
                  continuing my journey of delivering remarkable and impactful web applications to meet the unique needs
                  of clients.
                </p>
              </a>
            </li>

            <li class="project-item active" data-filter-item data-category="Forms9" data-portfolio-item>
              <a href="#">
                <figure class="project-img">
                  <div class="project-item-icon-box">
                    <ion-icon name="eye-outline"></ion-icon>
                  </div>
                  <img src="{% static 'assets/images/portfolio/Billing1.png' %}" alt="billmanagement" loading="lazy"
                    data-portfolio-image-1 />
                  <img src="{% static 'assets/images/portfolio/Billing2.png' %}" alt="billmanagement" loading="lazy"
                    data-portfolio-image-2 style="display: none;" />
                  <img src="{% static 'assets/images/portfolio/Billing3.png' %}" alt="billmanagement" loading="lazy"
                    data-portfolio-image-3 style="display: none;" />
                </figure>
                <h3 class="project-title" data-portfolio-title>Bill Management</h3><br><br>
                <p class="project-category" data-portfolio-text style="display: none;">
                  Introducing a cutting-edge Billing Software designed specifically for the discerning needs of
                  prominent companies - <b style="color: var(--orange-yellow-crayola);">Manage your incentives the right
                    way with SPE</b>. This innovative solution empowers businesses to effortlessly track and manage all
                  their bills from various sources, conveniently centralized in one comprehensive platform.
                  <br><br>
                  <b style="color: var(--orange-yellow-crayola);">Tailored for Giants of the Industry:</b>
                  <br>&#8226; Customizable Platform: SPE Billing Software can be tailored to individual plant
                  requirements, offering unparalleled flexibility and adaptability to suit diverse business needs.
                  <br>&#8226; Robust Technology Stack: Built on Python, Django, HTML/CSS, JavaScript, AJAX, and REST
                  API, this software stands as a testament to expertise in web development.
                  <br>&#8226; Enhanced Payment Processing: The inclusion of Razor Pay elevates the user experience,
                  ensuring secure and hassle-free payment processing for enhanced convenience.
                  <br><br>
                  <b style="color: var(--orange-yellow-crayola);">Optimize Incentives Management:</b>
                  <br>&#8226; Streamlined Operations: SPE Billing Software empowers businesses to optimize their
                  incentives management, streamline operations, and gain valuable financial insights.
                  <br>&#8226; Intuitive Interface: The system's intuitive interface and user-friendly design make it a
                  valuable asset for any enterprise seeking utmost efficiency in their billing workflows.
                  <br><br>
                  This project is a remarkable addition to my portfolio, highlighting my ability to create sophisticated
                  and functional software solutions that cater to the specific demands of distinguished companies. I am
                  proud to have developed SPE Billing Software and look forward to presenting this achievement as a
                  testament to my dedication and proficiency in delivering exceptional web applications.
                </p>
              </a>
            </li>

            <li class="project-item active" data-filter-item data-category="Freelancing" data-portfolio-item>
              <a href="#">
                <figure class="project-img">
                  <div class="project-item-icon-box">
                    <ion-icon name="eye-outline"></ion-icon>
                  </div>
                  <img src="{% static 'assets/images/portfolio/Instapdf1.png' %}" alt="instapdf" loading="lazy"
                    data-portfolio-image-1 />
                  <img src="{% static 'assets/images/portfolio/Instapdf2.png' %}" alt="instapdf" loading="lazy"
                    data-portfolio-image-2 style="display: none;" />
                  <img src="{% static 'assets/images/portfolio/Instapdf3.png' %}" alt="instapdf" loading="lazy"
                    data-portfolio-image-3 style="display: none;" />
                </figure>
                <h3 class="project-title" data-portfolio-title>Instalab PDF</h3><br><br>
                <p class="project-category" data-portfolio-text style="display: none;">
                  I am proud to have successfully developed a cutting-edge software solution for <b
                    style="color:  var(--orange-yellow-crayola);">INSTLAB</b>, leveraging a powerful technology stack
                  that includes Python, Django, HTML/CSS, JavaScript, AJAX, and REST API. This exceptional software
                  offers seamless date and time integration into PDF documents, revolutionizing the way users manage and
                  customize their files.
                  <br><br>
                  <b style="color:  var(--orange-yellow-crayola);">The Core Functionality:</b>
                  <br>&#8226; User-Friendly Interface: The software allows users to input specific date and time data
                  along with a PDF file. Upon clicking the submit button, the software dynamically generates and serves
                  a modified PDF file, with the provided date and time precisely printed at the designated coordinates
                  on each page.
                  <br>&#8226; Dynamic and Intelligent Approach: This intelligent and dynamic approach ensures that every
                  document carries accurate and relevant timestamps, enhancing data clarity and organization.
                  <br><br>
                  <b style="color:  var(--orange-yellow-crayola);">Key Feature - Streamlining Repetitive Tasks:</b>
                  <br>&#8226; PDF Coordinates: Users can upload and set PDF coordinates in the database, granting them
                  the convenience of future use. Subsequent interactions are simplified, reducing manual efforts and
                  enhancing overall productivity.
                  <br><br>
                  <b style="color:  var(--orange-yellow-crayola);">Ensuring Data Security:</b>
                  <br>&#8226; Privacy and Confidentiality: The application is hosted on INSTLAB's private server,
                  ensuring all interactions and files remain private and instilling trust and confidence in users.
                  <br><br>
                  My collaboration with INSTLAB has been an exciting journey, and I take great pride in delivering a
                  software solution that caters to their specific requirements. This remarkable achievement underscores
                  my expertise in web development and my commitment to excellence, and I eagerly anticipate further
                  opportunities to create impactful and sophisticated applications that elevate user experiences and
                  streamline operations for my clients.
                </p>
              </a>
            </li>

            <li class="project-item active" data-filter-item data-category="Accenture" data-portfolio-item>
              <a href="#">
                <figure class="project-img">
                  <div class="project-item-icon-box">
                    <ion-icon name="eye-outline"></ion-icon>
                  </div>
                  <img src="{% static 'assets/images/portfolio/Karseva1.png' %}" alt="Karseva" loading="lazy"
                    data-portfolio-image-1 />
                  <img src="{% static 'assets/images/portfolio/Karseva2.png' %}" alt="Karseva" loading="lazy"
                    data-portfolio-image-2 style="display: none;" />
                  <img src="{% static 'assets/images/portfolio/Karseva3.png' %}" alt="Karseva" loading="lazy"
                    data-portfolio-image-3 style="display: none;" />
                </figure>
                <h3 class="project-title" data-portfolio-title>KARSEVA</h3><br><br>
                <p class="project-category" data-portfolio-text style="display: none;">
                  Karseva is a visionary <b style="color:  var(--orange-yellow-crayola);">Progressive Web Application
                    (PWA)</b> designed to support and care for the elderly, ensuring they lead fulfilling lives as they
                  age gracefully. Our mission is to bridge the generational gap by connecting young adults willing to
                  share their time and energy with the elderly, fostering harmony and compassion within communities.
                  <br><br>
                  <b style="color:  var(--orange-yellow-crayola);">Key Features:</b>
                  <br>&#8226; Seamless Connection: Karseva connects compassionate young adults with elderly individuals,
                  promoting meaningful interactions and mutual support.
                  <br>&#8226; Coordinators: Dedicated coordinators act as bridges between advocates and customers,
                  ensuring efficient communication and fostering strong relationships.
                  <br>&#8226; Technology-driven: Leveraging cutting-edge technologies like Python, Django, HTML/CSS,
                  JavaScript, AJAX, and AWS Cloud, Karseva offers a seamless and secure user experience.
                  <br><br>
                  <b style="color:  var(--orange-yellow-crayola);">Advantages:</b>
                  <br>&#8226; Empowering Advocacy: Karseva empowers advocates to make a positive impact on the lives of
                  aging parents and grandparents, fostering a sense of purpose and fulfillment.
                  <br>&#8226; Harmonious Community: By connecting generations, Karseva creates a harmonious community
                  that promotes compassion, understanding, and shared experiences.
                  <br>&#8226; Accessible Care: Karseva ensures that elderly individuals receive the care and attention
                  they deserve, enhancing their overall quality of life.
                  <br><br>
                  <b style="color:  var(--orange-yellow-crayola);">The Impact:</b>
                  <br>&#8226; Transformative Connection: Karseva's transformative approach builds strong connections
                  between generations, enriching lives on both ends.
                  <br>&#8226; Social Change: By promoting intergenerational care and support, Karseva contributes to
                  positive social change and a more compassionate society.
                  <br>&#8226; Technological Innovation: Karseva showcases the power of technology in addressing
                  real-world challenges, making a difference in the lives of the elderly.
                  <br><br>
                  With Karseva, we have harnessed the power of technology to foster a compassionate community that
                  transcends boundaries, making the world a better place for the elderly and the young generation alike.
                  I am honored to have created Karseva as part of the <b
                    style="color:  var(--orange-yellow-crayola);">Accenture: GTIC competition</b>, and I am deeply
                  committed to continuing our mission of creating impactful applications that bring positive change to
                  the lives of people around the globe. Together, we can make a difference and uphold the spirit of
                  Karseva - caring, sharing, and building a brighter future for all.
                </p>
              </a>
            </li>


            <li class="project-item active" data-filter-item data-category="Forms9" data-portfolio-item>
              <a href="#">
                <figure class="project-img">
                  <div class="project-item-icon-box">
                    <ion-icon name="eye-outline"></ion-icon>
                  </div>
                  <img src="{% static 'assets/images/portfolio/MiniInw1.png' %}" alt="MiniInw" loading="lazy"
                    data-portfolio-image-1 />
                  <img src="{% static 'assets/images/portfolio/MiniInw2.png' %}" alt="MiniInw" loading="lazy"
                    data-portfolio-image-2 style="display: none;" />
                  <img src="{% static 'assets/images/portfolio/MiniInw3.png' %}" alt="MiniInw" loading="lazy"
                    data-portfolio-image-3 style="display: none;" />
                </figure>

                <h3 class="project-title" data-portfolio-title>ECOSTOCK</h3><br><br>

                <p class="project-category" data-portfolio-text style="display: none;">
                  Introducing "ECOSTOCK," a revolutionary <b style="color: var(--orange-yellow-crayola);">Progressive
                    Web Application (PWA)</b> meticulously designed to elevate inventory management to new heights while
                  embracing environmental consciousness. ECOSTOCK seamlessly integrates cutting-edge technologies,
                  including Python, Django, HTML/CSS, JavaScript, AJAX, and REST API, to streamline inventory processes
                  and reduce paper waste, making it an eco-friendly and efficient solution for businesses.
                  <br><br>
                  <b style="color: var(--orange-yellow-crayola);">Key Features:</b>
                  <br>&#8226; Advanced Inventory Management: With ECOSTOCK, managing inventory becomes effortless.
                  Leverage Python, Django, and the latest technologies to stay ahead in inventory tracking and
                  management.
                  <br>&#8226; Seamless Google Drive Integration: ECOSTOCK offers seamless integration with Google Drive
                  Sheets, providing secure data storage and accessibility for every user.
                  <br>&#8226; Environmentally Conscious Image Processing: The application's innovative image processing
                  feature automatically removes image backgrounds, reducing the need for additional editing software and
                  promoting eco-friendly practices.
                  <br>&#8226; Intelligent Data Linking: Generate convenient links for each image, and effortlessly save
                  them into the corresponding Excel sheet, enabling quick access and retrieval of essential data.
                  <br><br>
                  <b style="color: var(--orange-yellow-crayola);">The Impact:</b>
                  <br>&#8226; Sustainable Inventory Management: ECOSTOCK empowers businesses to embrace eco-conscious
                  practices while experiencing optimal productivity and performance.
                  <br>&#8226; Fostering Environmental Responsibility: As the creator of ECOSTOCK, I am committed to
                  delivering impactful solutions that resonate with businesses seeking sustainable success.
                  <br>&#8226; Showcasing Transformative Capabilities: ECOSTOCK stands as a testament to the
                  transformative potential of technology, inspiring others to embrace innovation for a brighter, more
                  sustainable future.
                  <br><br>
                  As a web developer with a passion for innovation and sustainability, I take great pride in creating
                  solutions like ECOSTOCK that bridge the gap between technology and environmental responsibility. Join
                  me in celebrating this remarkable achievement as we continue our journey of responsible innovation and
                  create a greener, more sustainable world through ECOSTOCK.
                </p>
              </a>
            </li>

            <li class="project-item active" data-filter-item data-category="Forms9" data-portfolio-item>
              <a href="#">
                <figure class="project-img">
                  <div class="project-item-icon-box">
                    <ion-icon name="eye-outline"></ion-icon>
                  </div>
                  <img src="{% static 'assets/images/portfolio/verification1.png' %}" alt="verification" loading="lazy"
                    data-portfolio-image-1 />
                  <img src="{% static 'assets/images/portfolio/verification2.png' %}" alt="verification" loading="lazy"
                    data-portfolio-image-2 style="display: none;" />
                  <img src="{% static 'assets/images/portfolio/verification3.png' %}" alt="verification" loading="lazy"
                    data-portfolio-image-3 style="display: none;" />
                </figure>
                <h3 class="project-title" data-portfolio-title>FORM2FILL</h3><br><br>
                <p class="project-category" data-portfolio-text style="display: none;">
                  Form2Fill is a digital platform providing a solution to digitize the processes of form filling
                  requirements of various institutions, thereby eliminating the need for pre-printed forms and an end to
                  data entry errors, hence saving time and space on voluminous and repetitive paperwork.
                  <br><br>
                  <b style="color:  var(--orange-yellow-crayola);">Key Features:</b>
                  <br>&#8226; Streamlined Digital Forms: Handwritten forms become a thing of the past. Users benefit
                  from editable and dynamic digital forms that offer effortless editing, spell-checking, and revision
                  capabilities, ensuring a professional and polished outcome.
                  <br>&#8226; Seamless Integration: The platform seamlessly integrates with applicant tracking systems,
                  databases, and software, allowing institutions to optimize data flow, enhance analysis, and make
                  informed decisions.
                  <br>&#8226; Privacy and Security: Form2Fill prioritizes data security, ensuring the utmost privacy and
                  confidentiality. The traditional inefficiencies of physical storage and transportation are eliminated,
                  giving users peace of mind.
                  <br>&#8226; User-Centric Subscription Model: Form2Fill offers a flexible subscription-based revenue
                  model, providing different pricing tiers based on the volume of documents processed. The platform's
                  features can be tailored to meet diverse client needs, including integration with other software and
                  advanced security options.
                  <br><br>
                  <b style="color:  var(--orange-yellow-crayola);">Advantages:</b>
                  <br>&#8226; Time-Saving Efficiency: Form2Fill accelerates the form-filling process, replacing
                  time-consuming handwritten documents with swift digital solutions.
                  <br>&#8226; Elimination of Data Entry Errors: Say goodbye to data entry mistakes with Form2Fill's
                  dynamic and error-free digital forms.
                  <br>&#8226; Enhanced Data Management: The platform enables seamless integration with various software
                  applications, promoting automated data extraction, analysis, and integration with other systems.
                  <br>&#8226; Convenient and Organized Storage: Digital forms are easily stored, duplicated, and
                  retrieved when needed, reducing physical storage hassles.
                  <br><br>
                  <b style="color:  var(--orange-yellow-crayola);">The Impact:</b>
                  <br>&#8226; Form2Fill is a transformative digital solution that revolutionizes form filling for
                  institutions of all sizes. With its user-centric design, advanced technology stack, and commitment to
                  data privacy, Form2Fill empowers businesses to unlock new levels of efficiency and productivity.
                  <br><br>
                  As a web developer with a passion for innovation, I take great pride in creating solutions like
                  Form2Fill that bridge the gap between traditional processes and modern advancements. This project is a
                  testament to my dedication to excellence and my commitment to delivering remarkable web applications
                  that exceed client expectations.
                  <br><br>
                  Form2Fill stands as a cornerstone of my portfolio, showcasing my proficiency in crafting tailored
                  solutions that address real-world challenges. Join me in celebrating this remarkable achievement as I
                  continue my journey of delivering impactful web applications to meet the unique needs of clients
                  worldwide. Together, we embrace the future of form-filling with Form2Fill - where convenience,
                  security, and cutting-edge technology converge to reshape the way institutions manage their form
                  processes.
                </p>
              </a>
            </li>

            <li class="project-item active" data-filter-item data-category="Freelancing" data-portfolio-item>
              <a href="#">
                <figure class="project-img">
                  <div class="project-item-icon-box">
                    <ion-icon name="eye-outline"></ion-icon>
                  </div>
                  <img src="{% static 'assets/images/portfolio/Covid1.png' %}" alt="Covid" loading="lazy"
                    data-portfolio-image-1 />
                  <img src="{% static 'assets/images/portfolio/Covid2.png' %}" alt="Covid" loading="lazy"
                    data-portfolio-image-2 style="display: none;" />
                  <img src="{% static 'assets/images/portfolio/Covid3.png' %}" alt="Covid" loading="lazy"
                    data-portfolio-image-3 style="display: none;" />
                </figure>
                <h3 class="project-title" data-portfolio-title>COVID19 Tracker</h3><br><br>
                <p class="project-category" data-portfolio-text style="display: none;">
                  COVID19 Tracker is an impactful Progressive Web Application (PWA) designed to track and provide
                  essential details of COVID-19 cases, empowering users with real-time data analysis and informed
                  decision-making during the early stages of the pandemic.
                  <br><br>
                  <b style="color:  var(--orange-yellow-crayola);">Key Features:</b>
                  <br>&#8226; Comprehensive Data Tracking: COVID19 Tracker delivers real-time updates on total cases,
                  active cases, deaths, recoveries, and more, ensuring users stay informed about the rapidly evolving
                  situation.
                  <br>&#8226; Granular Filter Options: Users can filter data country-wise, state-wise, and city-wise,
                  providing a deeper understanding of the local impact and response to the pandemic.
                  <br>&#8226; Intuitive Data Visualization: The platform presents data in visually appealing and easily
                  digestible card formats, enhancing data comprehension and accessibility.
                  <br><br>
                  <b style="color:  var(--orange-yellow-crayola);">The Technology Stack:</b>
                  <br>
                  COVID19 Tracker is powered by a robust technology stack, including Django, Python, JavaScript, AJAX,
                  and Web Scraping, ensuring data accuracy and seamless user interactions.
                  <br><br>
                  <b style="color:  var(--orange-yellow-crayola);">The Impact:</b>
                  <br>&#8226; Empowering Informed Decision-Making: COVID19 Tracker equips users with vital data
                  insights, enabling data-driven responses to the pandemic.
                  <br>&#8226; Promoting Public Health Awareness: The platform plays a pivotal role in fostering
                  awareness about the pandemic's impact and encourages responsible behavior to combat the virus.
                  <br>&#8226; Early Pandemic Response: As a developer of COVID19 Tracker, I take pride in contributing
                  to the collective effort to address the pandemic's challenges during its early stages.
                  <br><br>
                  As a web developer committed to creating solutions that make a positive difference, COVID19 Tracker
                  represents my dedication to leveraging technology for the greater good. Join me in celebrating this
                  meaningful project as we continue to evolve and innovate in response to real-world challenges, putting
                  technology to work for a healthier and more resilient future.
                </p>
              </a>
            </li>




          </ul>
        </section>
      </article>

      <!--
        - portfolio modal
      -->

      <div class="modal-container" data-modal-container-portfolio>
        <div class="overlay" data-overlay-portfolio></div>

        <section class="testimonials-modal" style="gap: 0 !important;max-width: fit-content;">
          <button class="modal-close-btn" data-modal-close-btn-portfolio>
            <ion-icon name="close-outline"></ion-icon>
          </button>

          <div class="modal-img-wrapper">
            <figure class="modal-avatar-box">
              <img src="{% static 'assets/images/avatar-1.png' %}" alt="Ajay Garg"
                style="margin: 10 !important;width: 250 !important;" data-modal-img-portfolio-1 />
              <img src="{% static 'assets/images/avatar-1.png' %}" alt="Ajay Garg"
                style="margin: 10 !important;width: 250 !important;" data-modal-img-portfolio-2 />
              <img src="{% static 'assets/images/avatar-1.png' %}" alt="Ajay Garg"
                style="margin: 10 !important;width: 250 !important;" data-modal-img-portfolio-3 />
            </figure>
          </div>

          <div class="modal-content-container" style="max-height: 500px;overflow-y: auto;">
            <h4 class="h3 modal-title" data-modal-title-portfolio style="color: var(--orange-yellow-crayola);"></h4>
            <div data-modal-text-portfolio style="color: aliceblue;">
            </div>
          </div>
        </section>
      </div>




    </div>
  </main>

  <!--
    - custom js link
  -->
  <script src="{% static 'assets/js/script.js' %}"></script>

  <!--
    - ionicon link
  -->
  <script type="module" src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.esm.js"></script>
  <script nomodule src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.js"></script>
</body>

</html>